body {
    font-family: 'Baloo 2', cursive;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.user-controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
    color: #007bff;
}

.game-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.range-inputs label {
    font-size: 18px;
    color: #333;
}

.range-inputs input {
    width: 80px;
    height: 30px;
    font-size: 16px;
    padding: 5px;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.card {
    width: calc(33.33% - 20px); Adjust the spacing as needed
    padding-top: calc(33.33% - 20px); /* Maintain aspect ratio */
    background-color: #007bff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw; /* Responsive font size */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center; /* Center the text */
    margin: 10px; /* Add margin between cards */
}

.result-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.result-text {
    font-size: 24px;
    color: #007bff;
}

.result-value {
    width: 100px;
    height: 100px;
    background-color: #28a745;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: #fff;
    text-align: center;
}